{% extends "base.html.twig" %}
{% block body %}
<div class="row">
    {% for t in tricks %}
        <div class="col-md-4">
        <div class="card">
        <img src={{t.trick_img.path}} alt="Snowbord image" class="img-fluid">
        <div class="card-body">
        <a href={{t.trick.slug}}>
        <h4 class="card-title">{{t.trick.name}}</h4>
        </a>
        </div>
        </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
