<div class="modal" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"></span>
				</button>
			</div>
			<div class="modal-body">
				Sélectionnez un fichier sur votre stockage ou ajoutez un lien de votre image de mise en avant.
			</div>
			<div class="modal-footer">
				<button data-bs-toggle="modal" data-bs-target="#tick_featured_image_ref" class="btn btn-primary" type="button">Ajoutez un lien</button>
				<button data-bs-toggle="modal" data-bs-target="#trick_featured_image_file" class="btn btn-primary" type="button">Sélectionez un fichier</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
