<div class="modal" id="media_trick_ref">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"></span>
				</button>
			</div>
			<div class="modal-body">
				{{ form_row(trickFile.media_ref, {"full_name": "media_ref"}) }}
			</div>
			<div class="modal-footer">
				<button type='submit' class="btn btn-primary">Enrégistrer</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
